.products-main {
	display: flex;
}

.products-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 25px;
	width: 78%;
	max-width: 1200px;
	margin: var(--spacing-large) 20px;
}

.product-widget__title {
	color: #712bcc;
	font-weight: normal;
	font-family: Georgia;
	margin: revert;
	text-align: right;
}

/* .product-widget__list {
	font-family: Georgia;
	mar
} */

.product-widget__list {
	margin-left: 0;
	list-style: none;
	font-family: Georgia;
  }

  .product-widget__list li {
	padding: 10px 0;
	position: relative;
	text-align: center;
	/* left: 1.5em; */
	margin-bottom: 0.75em;
	/* padding-left: 1em; */
	background: var(--color-white);
	border-radius: var(--border-radius);
  }
  .product-widget__list li:before {
	padding: 10px 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: -1.5em;
	width: 1.875em;
	text-align: center;
	color: white;
	font-weight: bold;
	background: #D66786;
	border-bottom-left-radius: 70em;
	border-top-left-radius: 70em;
  }

.product-widget__list-a {
	text-decoration: none;
	color: black;
}

.product-widget__list-a:visited {
	color: #712bcc;
}

.product-widget {

	/* margin-right: auto; */
}

.products-elements {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 15px 20px;
	background-color: var(--color-white);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
}

.products-elements__name {
	 margin-bottom: auto;
	 font-weight: bold;
}

.products-elements__author {
	font-weight: lighter ;
}

.products-elements__img {
	width: 100%;
	height: 270px;
	object-fit: contain;
}

.products-elements__price {
	margin-top: var(--spacing-medium);
	color: var(--color-unaccent);
}

.products-elements__btn{
	margin-top: var(--spacing-medium);
	padding: var(--spacing-small) var(--spacing-small);
	border: 1px solid var(--color-unaccent);
	border-radius: var(--border-radius);
	cursor: pointer;
	outline: none;
	background: none;
	font-family: inherit;
	font-size: inherit;
}

.products-elements__btn_active {
	border: 1px solid transparent;
	background-color: #b882ff;
}